// I always set these to 100%
html, body {
    height : 100%;
    width  : 100%;
}

body {
    font-size: 100% !important;
}

.content {
    // Any overflow other than 'visible' triggers a block formatting context.
    // BFCs don't allow descendant floats to escape them, nor do they allow
    // sibling/ancestor floats to intrude into them. The net effect here is that
    // the floated div will do it's thing, then the second div will be an
    // ordinary block, taking up all available width except that occupied by the
    // float. This trick is used in conjunction with #navigation{float: left;}
    // see: http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width
    background-color: $contentBG;
    min-height: 100%;
    overflow: hidden;
    // padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;

    .tableofcontents {
        list-style: none;
        margin-top: 20px;
        max-height: 100%;
        overflow-y: scroll;
        // position: fixed;
        // right: 0;
        // width: 400px;

        li {
            a {
                border-left: $sidebarBorderThickness solid transparent;
                color: $sidebarInactiveColor;
                padding-left: $sidebarPaddingLevel1;
                text-decoration: none;
            }

            ul {
                display: none;
                list-style: none;
                padding: 0;

                li {
                    a {
                        padding-left: $sidebarPaddingLevel2;
                    }

                    ul {
                        display: none;

                        li a {
                            padding-left: $sidebarPaddingLevel3;
                        }
                    }

                    &:hover {
                        a {
                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                        }
                    }
                }
            }

            &:hover {
                a {
                    border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor1, 0.5);
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            a {
                                border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &:hover {
                                        a {
                                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor3, 0.5);
                                        }
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                a {
                    border-left: $sidebarBorderThickness solid $sidebarBorderColor1;
                    color: $sidebarActiveColor;
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                            color: $sidebarInactiveColor;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            ul {
                                display: block;
                            }
                        }

                        &.active {
                            a {
                                border-left: $sidebarBorderThickness solid $sidebarBorderColor2;
                                color: $sidebarActiveColor;
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor3;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content-main {
        // float: left;
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	font-weight: 100;
        margin: 0 auto;
        // max-width: 640px;
        padding: 20px;
    }
    
    .content-main hr {
    	height: auto;
	border: 0;
    }
    
    .content-main hr:after {
        content: url("data:image/svg+xml,%3Csvg width='100%' height='auto' viewBox='0 0 1442 160' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='0%25' x2='101.999998%25' y2='100.999999%25' id='linearGradient-1'%3E%3Cstop stop-color='%23E7E87E' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2300B2A7' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Landing-Page' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M1,59.6173451 C1,59.6173451 295.509979,91.4413881 342.731118,59.6173451 C389.952258,27.7933022 472.882779,35.282972 504.436564,110.819224 C561.06072,246.371155 645.487254,23.3509153 683.243627,59.6173451 C721,95.8837749 794.86283,-33.6006721 863.365146,16.8174403 C931.867461,67.2355526 900.443752,122.337233 964.605625,136.9875 C1028.7675,151.637768 1144.91199,57.7300361 1191.63678,87.4441804 C1238.36158,117.158325 1354.20685,61.9640361 1375.23613,59.6173451 C1389.25566,58.0528845 1411.17695,58.0528845 1441,59.6173451' id='Path-2' stroke='url%28%23linearGradient-1%29' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
    }

    .content-main p {
         margin-bottom: 8px;
	 font-size: 16px !important;
    }

    .content-main h1 {
	font-size: 24px !important;
        color: #00b2a7;
    }

    .content-main h2 {
        margin-top: 12px;
        margin-bottom: 18px;
	font-size: 18px !important;
	color: $headingYellow;
    }

    .content-main .brand {
    	width: 80%;
	max-width: 900px;
    }
}

#content-main {
    // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
}

// Navigation styles
// We have a ul of li > a's, some of which may contain another ul of li > a's

.navbar {
          // margin-top:16px;
	  background-color: #00b2a7 !important;
	  font-size: 16px;
         }
         .navbar ul {
           margin-top: 0px;
         }

.image-wrapper {
    text-align: center;

    img {
        @include border-radius(5px);
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
        background-color: $imageBG;
        // border-bottom: 2px solid darken($grey-200, 15%);
        height: auto;
        border: 5px solid $imageBG;
        // padding: 5px;
        width: 50%;
	}
}

@media only screen and (min-width: 992px) {
    .content {
	margin-top: $navbarHeight;
        .content-main {
            padding-right: 60px;
            padding-left: 60px;
        }

	.content-main h1 {
	    font-size: 54px !important;
	}

	.content-main h2 {
	    font-size: 32px !important;
	}
    }
}
