// I always set these to 100%
html, body {
    height : 100%;
    width  : 100%;
}

body {
}

.content {
    // Any overflow other than 'visible' triggers a block formatting context.
    // BFCs don't allow descendant floats to escape them, nor do they allow
    // sibling/ancestor floats to intrude into them. The net effect here is that
    // the floated div will do it's thing, then the second div will be an
    // ordinary block, taking up all available width except that occupied by the
    // float. This trick is used in conjunction with #navigation{float: left;}
    // see: http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width
    background-color: $contentBG;
    margin-top: $navbarHeight;
    min-height: 100%;
    overflow: hidden;
    // padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;

    .tableofcontents {
        list-style: none;
        margin-top: 20px;
        max-height: 100%;
        overflow-y: scroll;
        // position: fixed;
        // right: 0;
        // width: 400px;

        li {
            a {
                border-left: $sidebarBorderThickness solid transparent;
                color: $sidebarInactiveColor;
                padding-left: $sidebarPaddingLevel1;
                text-decoration: none;
            }

            ul {
                display: none;
                list-style: none;
                padding: 0;

                li {
                    a {
                        padding-left: $sidebarPaddingLevel2;
                    }

                    ul {
                        display: none;

                        li a {
                            padding-left: $sidebarPaddingLevel3;
                        }
                    }

                    &:hover {
                        a {
                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                        }
                    }
                }
            }

            &:hover {
                a {
                    border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor1, 0.5);
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            a {
                                border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &:hover {
                                        a {
                                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor3, 0.5);
                                        }
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                a {
                    border-left: $sidebarBorderThickness solid $sidebarBorderColor1;
                    color: $sidebarActiveColor;
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                            color: $sidebarInactiveColor;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            ul {
                                display: block;
                            }
                        }

                        &.active {
                            a {
                                border-left: $sidebarBorderThickness solid $sidebarBorderColor2;
                                color: $sidebarActiveColor;
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor3;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content-main {
        // float: left;
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
        margin: 0 auto;
        // max-width: 640px;
        padding: 20px;
    }

    .content-main p {
         margin-bottom: 8px;
    }

    .content-main h2 {
        margin-top: 12px;
        margin-bottom: 18px;
	color: $headingYellow;
    }
}

#content-main {
    // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
}

// Navigation styles
// We have a ul of li > a's, some of which may contain another ul of li > a's

.navbar {
          // margin-top:16px;
	  background-color: #00b2a7 !important;
         }
         .navbar ul {
           margin-top: 0px;
         }

.image-wrapper {
    text-align: center;

    img {
        @include border-radius(5px);
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
        background-color: $imageBG;
        // border-bottom: 2px solid darken($grey-200, 15%);
        height: auto;
        border: 5px solid $imageBG;
        // padding: 5px;
        width: 50%;
	}
}

@media only screen and (min-width: 992px) {
    .content {
        .content-main {
            padding-right: 60px;
            padding-left: 60px;
        }
    }
}
