<html>
  <div class="footer">
    <h2>Waterloo iGEM 2018</h2>
    <div class="icons">
      <h2><a href="https://www.facebook.com/WaterlooiGEM"><i class="fa fa-facebook" aria-hidden="true"></i></a></h2>
      <h2><a href="https://twitter.com/Waterloo_iGEM"><i class="fa fa-twitter" aria-hidden="true"></i></a></h2>
      <h2><a href="https://www.youtube.com/c/WaterlooiGEMUW"><i class="fa fa-youtube" aria-hidden="true"></i></a></h2>
      <h2><a href="https://www.instagram.com/igemwaterloo"><i class="fa fa-instagram" aria-hidden="true"></i></a></h2>
      <h2><a href="https://github.com/igem-waterloo"><i class="fa fa-github" aria-hidden="true"></i></a></h2>
      <h2><a href="mailto:uwigem@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></h2>
    </div>
    <p>© 2018 Waterloo iGEM</p>
  </div>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	{{jsInject mode}}
</html>

