<html>
<!-- ####################################################### -->
<!-- #  This html was produced by the igemwiki generator   # -->
<!-- #  https://github.com/igemuoftATG/generator-igemwiki  # -->
<!-- ####################################################### -->

<!-- repo for this wiki: https://github.com/igem-waterloo/wiki2018 -->

</html>
<html>
  <div class="footer">
    <h2>Waterloo iGEM 2018</h2>
    <div class="icons">
      <h2><a href="https://www.facebook.com/WaterlooiGEM"><i class="fa fa-facebook" aria-hidden="true"></i></a></h2>
      <h2><a href="https://twitter.com/Waterloo_iGEM"><i class="fa fa-twitter" aria-hidden="true"></i></a></h2>
      <h2><a href="https://www.youtube.com/c/WaterlooiGEMUW"><i class="fa fa-youtube" aria-hidden="true"></i></a></h2>
      <h2><a href="https://www.instagram.com/igemwaterloo"><i class="fa fa-instagram" aria-hidden="true"></i></a></h2>
      <h2><a href="https://github.com/igem-waterloo"><i class="fa fa-github" aria-hidden="true"></i></a></h2>
      <h2><a href="mailto:uwigem@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></h2>
    </div>
    <p>© 2018 Waterloo iGEM</p>
  </div>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	<script src="http://2018.igem.org/Template:Waterloo/js/vendor_min_js?action=raw&ctype=text/javascript"></script>
	<script src="http://2018.igem.org/Template:Waterloo/js/bundle_min_js?action=raw&ctype=text/javascript"></script>
	
</html>

