<html>
<!-- ####################################################### -->
<!-- #  This html was produced by the igemwiki generator   # -->
<!-- #  https://github.com/igemuoftATG/generator-igemwiki  # -->
<!-- ####################################################### -->

<!-- repo for this wiki: https://github.com/igem-waterloo/wiki2017 -->

</html>
{{template templates.head mode}}
<html>

{{navigation mode "_human_practices" "engagement"}}
<div class="content">
{{markdown markdown.engagement}}
</div>

</html>
{{template templates.footer mode}}
