<html>
<!-- ####################################################### -->
<!-- #  This html was produced by the igemwiki generator   # -->
<!-- #  https://github.com/igemuoftATG/generator-igemwiki  # -->
<!-- ####################################################### -->

<!-- repo for this wiki: https://github.com/igem-waterloo/wiki2018 -->

</html>
{{Waterloo/head}}
<html>
<script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<style>
.go-top {
 	position: fixed;
 	bottom: 2em;
 	right: 2em;
 	text-decoration: none;
 	color: white;
 	background-color: rgba(0, 0, 0, 0.3);
 	font-size: 12px;
 	padding: 1em;
 	display: none;
 }
 .content .row{
  margin: 0 auto;
 }
</style>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top"><a class="navbar-brand" href="http://2018.igem.org/Team:Waterloo">Waterloo</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button><div class="collapse navbar-collapse" id="navbarCollapse"><ul class="navbar-nav mr-auto">
<li class="nav-item"><a class="nav-link" href="http://2018.igem.org/Team:Waterloo"><span>Home</span></a></li>
</li>
<li class="dropdown nav-item"><a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Team"><span>Team</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Collaborations"><span>Collaborations</span></a></li>
</li>
</ul>
<li class="dropdown nav-item"><a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Contribution"><span>Contribution</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Description"><span>Description</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Design"><span>Design</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Experiments"><span>Experiments</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Proof"><span>Proof</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Demonstrate"><span>Demonstrate</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Results"><span>Results</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Notebook"><span>Notebook</span></a></li>
</li>
</ul>
<li class="nav-item"><a class="nav-link" href="http://2018.igem.org/Team:Waterloo/Parts"><span>Parts</span></a></li>
</li>
<li class="nav-item"><a class="nav-link" href="http://2018.igem.org/Team:Waterloo/Safety"><span>Safety</span></a></li>
</li>
<li class="nav-item"><a class="nav-link" href="http://2018.igem.org/Team:Waterloo/Attributions"><span>Attributions</span></a></li>
</li>
<li class="active dropdown nav-item"><a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Human Practices<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Human_Practices"><span>Human Practices</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/HP_Silver"><span>Silver</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/HP_Gold"><span>Gold</span></a></li>
</li>
<li class="active"><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Integrated_Practices"><span>Integrated Practices</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Engagement"><span>Engagement</span></a></li>
</li>
</ul>
<li class="dropdown nav-item"><a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Awards<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Software"><span>Software</span></a></li>
</li>
<li class=""><a class="dropdown-item" href="http://2018.igem.org/Team:Waterloo/Model"><span>Model</span></a></li>
</li>
</ul>
</ul>
</div></nav>


<div class="content">
  <div class="integratedPractices">
    <div class="row"><div class="col"><div class="content-main"></div></div></div>
    <div id="inserts"> 
      <center>
        <div class="ip-group-wrapper">
          <div class="btn-group btn-group-lg" role="group" aria-label="Integrated Practices">
            <span class="btn-group btn-group-lg" v-for="item in ip.items">
              <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
            </span> 
          </div>
        </div>
      </center>
      
      <div class="row" v-if="ip.showing=='Applications'">
        <div class="row"><div class="col"><div class="content-main"></div></div></div>
      </div>
    </div>
    <center>
      <div class="ip-group-wrapper">
        <div class="btn-group btn-group-lg" role="group" aria-label="Integrated Practices">
          <span class="btn-group btn-group-lg" v-for="item in ip.items">
            <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
          </span> 
        </div>
      </div>
    </center>
  </div>
</div>
<a href="#" class="go-top">Go Top</a>
<script src="https://unpkg.com/vue"></script>
<script>
var integratedPracticesPage = new Vue({
  el: ".integratedPractices",
  delimiters: ['^^', '$$'],
  data:{
    show: 0,
    ip: {
    parent: "IP",
    showing:"Guidebook",
    items: [
      { title: "Guidebook" },
      { title: "Applications" },
      { title: "IAT" },
      { title: "Snake35" },
      { title: "3D Printing" },
      { title: "Project Talks" },
    ]
    }}}
)
</script>
<script>
$(document).ready(function() {
			// Show or hide the sticky footer button
			$(window).scroll(function() {
				if ($(this).scrollTop() > 200) {
					$('.go-top').fadeIn(200);
				} else {
					$('.go-top').fadeOut(200);
				}
			});
			
			// Animate the scroll to top
			$('.go-top').click(function(event) {
				event.preventDefault();
				
				$('html, body').animate({scrollTop: 0}, 300);
			})
		});
  </script>


</html>
{{Waterloo/footer}}
