{{template templates.head mode}}
<html>

{{navigation mode "project" "description"}}
<div class="content">
<div class="titleBox row">
<div class="layer">
<div class="squiggle squiggleForward col-xs-4"></div>
<div class="titleCaption col-xs-4">
<h1>
Project Description
</h1>
</div>
<div class="squiggle squiggleBackward col-xs-4"></div>
</div>
</div>
{{markdown markdown.description}}
</div>

</html>
{{template templates.footer mode}}
