{{template templates.head mode}}
<html>

{{navigation mode "project" "notebook"}}
<div class="content">
<div class="titleBox row">
<div class="squiggle squiggleForward col-xs-4"></div>
<div class="titleCaption col-xs-4">
<h1>
Notebook
</h1>
</div>
<div class="squiggle squiggleBackward col-xs-4"></div>
</div>
{{markdown markdown.notebook}}
</div>
</html>
{{template templates.footer mode}}
