{{template templates.head mode}}
<html>
{{navigation mode "_human_practices" "snake35"}}
<div class="content">
  <div id="game"></div>
</div>
<script src="http://2017.igem.org/Template:Waterloo/js/snake_js?action=raw&ctype=text/javascript"></script>
</html>
{{template templates.footer mode}}
