{{template templates.head mode}}
<html>

{{navigation mode "_team" "team"}}
<div class="content team">
  <div class="titleBox row" style="background: url({{image "teamphoto.jpg" "directlink" mode}})">
    <div class="layer shade">
      <div class="squiggle squiggleForward col-xs-4"></div>
      <div class="titleCaption col-xs-4">
        <h1>
          Our Lit Team
        </h1>
      </div>
      <div class="squiggle squiggleBackward col-xs-4"></div>
    </div>
  </div>
  <div class="content-main">
    <div>
      <div class="ip-group-wrapper">
        <div class="memberList row" v-for="memberPair in memberPairs">
          <div class="col-sm-3">
            <div class="lightbulb" v-bind:style="{ backgroundImage: 'url(' + memberPair[0].picture + ')' }"></div>
          </div>
          <div class="col-sm-3">
            <div class="teamMemberInfo">
              <h2>^^memberPair[0].name + (memberPair[0].nickname ? ' (' + memberPair[0].nickname + ')' : '')$$</h2>
              <p>^^(memberPair[0].year || '') + (memberPair[0].year ? ', ' : '') + (memberPair[0].subteam || '')$$</p>
              <p>^^memberPair[0].bio$$</p>
            </div>
          </div>
	  <div class="col-sm-3" v-if="memberPair.length > 1">
            <div class="lightbulb" v-bind:style="{ backgroundImage: 'url(' + memberPair[1].picture + ')' }"></div>
          </div>
	  <div class="col-sm-3" v-if="memberPair.length > 1">
            <div class="teamMemberInfo">
              <h2>^^memberPair[1].name + (memberPair[1].nickname ? ' (' + memberPair[1].nickname + ')' : '')$$</h2>
              <p>^^(memberPair[1].year || '') + (memberPair[1].year ? ', ' : '') + (memberPair[1].subteam || '')$$</p>
              <p>^^memberPair[1].bio$$</p>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
var teamPage = new Vue({
  el: ".team",
  delimiters: ['^^', '$$'],
  data:{
    ip: {
    parent: "IP",
    members: [
      {'name': 'Maximilian Reed', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '4A Nanotechnology Engineering', 'nickname': 'MAAAAAAAXXXXX', 'subteam': 'Lab', 'bio': 'having lost my soul during iGEM 2017, i am no longer afraid. nothing can stop or hurt me.'},
      {'name': 'Sebastien Carman', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '3A Biotechnology & Economics', 'nickname': 'Seb', 'subteam': 'Lab', 'bio': 'Significantly more waste than last year.'},
      {'name': 'Clara Fikry', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '3A Health Studies & Biology', 'nickname': 'Clarafication', 'subteam': 'Lab', 'bio': 'My favourite experiment was the one where we tested if methionene was shared between cells. It took a many design iterations and a few trials, but it worked and the results were just so beautiful. Read more on our design and results pages.'},
      {'name': 'Chirayu Patel', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '4B Biochemistry, Biotechnology Specialization', 'nickname': 'Ray', 'subteam': 'Lab', 'bio': 'Stay hungry. Stay foolish.'},
      {'name': 'Nicole Lassel', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '4A Science and Business, Biology Specialization', 'subteam': 'Lab', 'bio': 'This was my first time working with iGEM, and I was especially lucky to be fully exposed to synthetic biology by being Waterloo iGEM's co-op student during the Spring term.  From making some of the most competent cells ever to keeping the lab safe and sparkling clean, there was always something going on in the lab. I'm happy I learned so many new technical skills, and grew as a scientist and individual!'},
      {'name': 'Nicolette Shaw', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '2A Biochemistry', 'nickname': 'Nicki', 'subteam': 'Lab', 'bio': 'If I had a dollar for every gel I made, I still wouldn’t be able to make up for the 45ul of gelred I wasted by accident.'},
      {'name': 'Nicole Wang', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '4A Biology ;)', 'subteam': 'Lab', 'bio': 'Just another Nicole in iGEM'},
      {'name': 'Marina Robin', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '2A Honours Science', 'subteam': 'Lab', 'bio': 'Highly proficient in syringe filter sterilization'},
      {'name': 'Dylan Perera', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '3A Biochemistry', 'subteam': 'Lab', 'bio': 'I'm proud to say our interlab samples survived the long and perilous cross-campus journey to the plate reader without getting too drenched.'},
      {'name': 'Leah Fulton', 'picture': 'http://2017.igem.org/wiki/images/6/69/Cody-waterloo.png', 'year': '3A Biology', 'subteam': 'Lab', 'bio': 'Didn't sleep much, but I learned a lot.'},
      

    ]
    }},
  computed: {
    memberPairs: function () {
    console.log('blah');
    console.log(this.ip.members.reduce(function(result, value, index, array) {
      if (index % 2 === 0)
        result.push(array.slice(index, index + 2));
      return result;
    }, []));
    return this.ip.members.reduce(function(result, value, index, array) {
      if (index % 2 === 0)
        result.push(array.slice(index, index + 2));
      return result;
    }, []);
  }
}
}
)
</script>
</html>
{{template templates.footer mode}}
