{{template templates.head mode}}
<html>

<style>
.teamMember {
  height: 120px;
  display: inline-table;
  width: 120px;
  cursor: pointer;
  border-radius: 3px;
  border: white;
  border-style: solid;
  margin: 12px;
}
</style>

{{navigation mode "_team" "team"}}
<div class="content team">
  <div class="titleBox row" style="background: url({{image "teamphoto.jpg" "directlink" mode}})">
    <div class="layer shade">
      <div class="squiggle squiggleForward col-xs-4"></div>
      <div class="titleCaption col-xs-4">
        <h1>
          Our Lit Team
        </h1>
      </div>
      <div class="squiggle squiggleBackward col-xs-4"></div>
    </div>
  </div>
  <div class="content-main">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="lightbulb" v-bind:style="{ backgroundImage: 'url(' + member.picture + ')' }"></div>
      </div>
      <div class="col-sm-4">
        <div class="teamMemberInfo">
          <h2>^^member.name + (member.nickname ? ' (' + member.nickname + ')' : '')$$</h2>
          <p>^^(member.year || '') + (member.year || '' && ', ') + (member.subteam || '')$$</p>
          <p>^^member.bio$$</p>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
	<div id="inserts"> 
    <center>
      <div class="ip-group-wrapper">
        <div class="memberList">
          <div style="border-radius:3px; overflow:hidden">
	  
          <div class="teamMember" v-on:click="member=me" v-for="me in ip.members">
	    ^^me.name + (me.nickname ? ' (' + me.nickname + ')' : '')$$
          </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
var teamPage = new Vue({
  el: ".team",
  delimiters: ['^^', '$$'],
  data:{
    member: {
			name: 'Click a team member to view their information',
		  bio: '',
			photo: '',
		},
    ip: {
    parent: "IP",
    members: [
    ]
    }}}
)
</script>
</html>
{{template templates.footer mode}}
